// Convert Plus plugin

.cp-modal-body {
    display: block;
    padding: 30px 15px;
}

.cp-modal-body h2 {
	font-size: 36px;
}

.cp-modal-body .button {
	background-color: #00a2bc;
	color: #fff;
	display: inline-block;
	padding: 8px 24px;
	font-size: 20px;
	text-decoration: none;
	margin-bottom: 24px;
}