.main-footer {
  margin: 20px 0 50px;

  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-media {
      padding: 15px 0;
      display: flex;
      align-items: flex-end;

      .fa {
        color: transparent;
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: $color_text_grey;
        padding: 0 10px;
        font-size: 20px;
      }

      .blog {
        text-transform: uppercase;
        font-family: 'Calibri', 'sans-serif';
        font-size: 17px;
        text-decoration: none;
        color: $color_nav_grey;
      }

      .dwell {
        text-transform: uppercase;
        font-family: 'Calibri', 'sans-serif';
        font-size: 17px;
        text-decoration: none;
        color: $color_nav_grey;
        margin-right: 15px;
      }
    }

    .copyright {
      font-size: 10px;
      color: $color_text_grey;
      letter-spacing: 0.6px;
      line-height: 20px;
      text-align: center;
      width: 80%;
      max-width: 415px;
    }
  }
}