.main-header {

  @include tablet-portrait {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
  }

  .logo {
    font-family: 'Corbel', 'sans-serif';
    margin-bottom: 25px;

    a {
      display: flex;
      flex-direction: column;
    }

    .logo-primary {
      text-transform: uppercase;
      color: $color_logo_grey;
      font-family: 'Corbel', 'sans-serif';
      font-size: 40px;
      -webkit-text-stroke: 1px $color-button_grey;
      -webkit-text-fill-color: white;

      @include tablet-portrait {
        -webkit-text-stroke: 1.5px $color-button_grey;
      }
    }

    .logo-secondary {
      color: $color_text_grey;
      font-size: 18px;

      @include tablet-portrait {
        font-size: 20px;
      }
    }
  }

  .primary-menu {
    margin-bottom: 35px;

    @include tablet-portrait {
      margin-bottom: 0;
    }

    ul {
      text-transform: uppercase;
      list-style: none;
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #00a2bc;
      
      @include tablet-portrait {
        display: flex;
        border-left: 0;
        margin-top: 8px;
      }

      li {
        padding-bottom: 10px;

        @include tablet-portrait {
          padding-right: 15px;
        }

        &.current-menu-item {
          a {
            font-family: 'Corbel-Bold', 'sans-serif';
            color: #00a2bc;
          }
        }

        a {
          color: $color_nav_grey;
          font-size: 16px;
          letter-spacing: 0.96px;
          font-family: 'Corbel', 'sans-serif';
        }
      }
    }
  }
}