.projects-page-content {
  text-align: center;
}

.project-type-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0 55px;

  @include tablet-portrait {
    flex-direction: row;
  }

  a {
    font-size: 11px;
    font-family: 'Calibri', 'sans-serif';
    color: $color_nav_grey;
    letter-spacing: 0.66px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    margin: 0 7px;

    @include tablet-portrait {
      margin: 0 10px;
      font-size: 15px;
    }

    &.active {
      border: 1px solid $color_border_grey;
    }
  }
}

.project-preview-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include tablet-portrait {
    margin-left: -10px;
  }

  .project-preview-box {
    position: relative;
    margin-bottom: 15px;
    width: 100%;

    @include tablet-portrait {
      flex-basis: calc( 50% - 15px) ;
      margin-left: 10px;
      box-sizing: border-box;

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @include tablet-landscape {
      flex-basis: calc( 100% / 3 - 20px );
    }

    img {
      width: 100%;
      height: auto;
    }


    .title-banner {
      background: rgba(255,255,255,0.75);
      position: absolute;
      bottom: 0;
      padding: 0;
      margin: 0;
      height: 55px;
      width: 100%;
      border: 1px solid lightgrey;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      h3 {
        padding-left: 15px;

        @include tablet-landscape {
          font-size: 14px;
        }
      }
    }
  }
}
