.services-page-wrapper {
  padding: 15px;

  @include tablet-landscape {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    padding: 0;
  }

  .image {
    width: 100%;

    @include tablet-landscape {
      width: 42%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .text {
    @include tablet-landscape {
      width: 55%;
    }

    h1 {
      @include tablet-landscape {
        margin-top: 0;
      }
    }
  }
}